.nav {
    z-index: 9999;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: wheat;
    height: 60px;
    box-shadow: 0px 0px 10px gray;
    position: fixed;
}

.nav a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
    box-shadow: 0px 0px 10px gray;
    border-radius: 15px;
    text-align: center;
    width: 120px;
    height: 35px;
    margin: 30px;
    margin-right: 0px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(248, 248, 219);
}